.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    widows: 100%;
    background: radial-gradient(#4CCEB2 , #2F8FD8);
}

.QuizList h1 {
    color: #fff;
}

.QuizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuizList li {
    margin-bottom: 10px;
}
.QuizList li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
}

.QuizList li a:hover {
    color: #363f54;
}